/*CSS Style*/

@media screen and (min-width: 300px) {
    body {
        background-image: url(./images/pink.png);
        width: auto;
        height: auto;
    }
}


/*header*/

.header {
    display: flex;
    flex-direction: row;
    border: 1px solid rgb(238, 103, 231);
    justify-content: center;
    justify-content: space-around;
    background-color: rgb(238, 103, 231);
    width: auto;
    height: 120px;
    margin-bottom: 20px;
}

.number {
    color: white;
    font-weight: bold;
    font-size: larger;
}

.pnumbers {
    color: white;
}

.header img {
    width: 15%;
}

.addy {
    color: white;
}

/*Content Style*/

.content {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.logo {
    width: 50%;
    background-image: url(./images/face.webp);
    background-position: center;
    background-size: contain;
    height: 410px;
    background-repeat: no-repeat;
    border: 5px solid white;
    border-radius: 2%;
    
}

.alex {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 10px;
    width: 40%;
    height: 30%;
    background-image: linear-gradient(0deg, rgb(238, 103, 231), white 100%);
    margin: 10%;
    border: 3px solid white;
    color: white;
    
}

.logo2 {
    font-size: xx-large;
    margin: 0;
}

.logo2 {
    overflow: hidden;
    text-align: center;
    
  }

  .logo3 {
      font-size: 30px;
      
  }
  
  .logo3:before,
  .logo3:after {
    background-color: white;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
  }
  
  .logo3:before {
    right: 0.5em;
    margin-left: -50%;
  }
  
  .logo3:after {
    left: 0.5em;
    margin-right: -50%;
  }

  /*content2*/

  .content2 {
      display: flex;
      flex-direction: column;
      width: auto;
      align-items: center;
      position: relative;
  }

  .navbar {
      background-color: white;
      width: 15%;
      border-radius: 3%;
      position: absolute;
      left: 25%;
  }

  .navbar li {
    border-bottom:1px solid rgba(0,0,0,.5);
    
  }

  .radio {
      list-style: none;
      padding: 0;
      color: rgb(238, 103, 231);
  }

  .contact {
      font-weight: bold;
  }

  .navform {
      position: absolute;
      left: 25%;
      top: 150px;
  }

  .textbox {
      background-color: white;
      border: 1px solid white;
      border-radius: 3%;
      position: absolute;
      right: 24%;
      width: 35%;
      height: 470px;
  }

  .rlady {
      float: right;
  }

  .textbox a {
      color: rgb(238, 103, 231);
  }

  .title {
      color: rgb(238, 103, 231);
  }

  .owner {
      color: rgb(201, 10, 191);
  }

/*footer*/
    .footer {
      display: flex;
      flex-direction: row;
      position: absolute;
      bottom: -20%;
      width: 100%;
      justify-content: center;
      justify-content: space-between;
      background-color: rgb(238, 103, 231);
      border-radius: 1%;
  }

  .address1 {
      color: white;
      padding-left: 10px;
  }

  .flist a {
    border-right: 1px solid black;
    padding-right: 10px;
    padding-left: 10px;
    color: white;
  }

  .flist2 {
      color: white;
      list-style-type: none;
      display: flex;
      
  }

  .contactinfo {
      color: white;
  }










  