/* CSS Document */
.grey1 { 
    color:grey;
    margin-left: 0px;
}

.grey2{
    color:grey;
    margin-left: 50px;
}

.yellow {
    color: burlywood;
    margin-left: 80px;
}

.grey {
    color:grey;
    margin-left: 20px;
}

#post {
    margin-left: 130px;
}

.red {
    color:red;
    margin-left: 130px;
    
}

.orange {
    color:orange;
    margin-left: 100px;
}

.white {
    color:white
}

body {
    background-color: rgb(90, 89, 89);
}


#name {
    color: burlywood;
    margin: 100px;
}

#circle{
    margin: 5px;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: green;
    position: absolute;
    margin-left: 85px;
}