/*CSS Document*/

body {
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;

}


#uid {
    color:rgb(0, 42, 255);
}

.puppic {
text-align: 0px;
display: table;
margin: 0 auto;

}

.body {
    display:flex;
    flex-direction: column;

}

.cnumber{
    display: inline-block;
    margin-right: 0px;
    

}

.ctitle {
    display: inline-block;
    margin-left: 0px;
    

}

.p1{
    border-top: 1px dotted blue;
}

#p1 {
    color:rgb(0, 42, 255);
}

#p2 {
    color: antiquewhite;
}

.footer {
    display: flex;
    flex-direction: column;
}

input {
    width: 100%;
    padding: 10px;
}

.button {
    background-color: blue;
    color: white;
    border-radius: 4px;

}