
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    background:linear-gradient(to right, #333399, #ff00cc);
    display: flex;
    align-items: center;
    justify-content: center;
}

.task-box {
    width: 450px;
    background: rgba(255, 255, 255, .5);
    padding: 4rem;
    border-radius: 10px;
    position: relative;
}

.task-box::before {
    content: '';
    position: absolute;
    background: rgb(255, 255, 255, .15);
    inset: 0;
    transform: rotate(-5deg);
    z-index: -1;
}

.task-card-logo {
    margin-bottom: 2rem;
    text-align: center;
}

.task-card-logo span {
    font-size: 5rem;
}

.task-card-header {
    margin-bottom: 2rem;
}

.task-card-header a span {
    font-weight: 600;
    font-size: 15px;
}

.task-card-header a {
    text-decoration: none;
}

.task-card-header h1 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: .5rem;
}

.task-box input[type="text"] {
    width: 100%;
    padding: 1rem;
    border: none;
    border-radius: 5px;
    margin-bottom: 1rem;
    outline: none;
    background: rgb(255, 255, 255, .3);
    transition: background .5s;
}

.task-box input:focus {
    background: white;
}

.form-item {
    display: flex;
    flex-direction: row;;
    height: 60px;
    align-items: flex-start;
}

.task-card-form button {
    background: black;
    color: white;
    padding: 0px;
    border-radius: 10px;
    letter-spacing: 0px;
    transition: background .5s;
    width: 10%;
    margin: 5px;
    height: 40px;
}

.task-card-form button:hover {
    background: #35339a;
    cursor: pointer;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
}

#complete {
    background: black;
    color: white;
    padding: 3px;
    border-radius: 10px;
    transition: background .2s;
    width: 25%;
    margin: 5px;
}

#complete:hover {
    background: #35339a;
    cursor: pointer;
}

#delete {
    background: black;
    color: white;
    padding: 3px;
    border-radius: 10px;
    transition: background .2s;
    width: 25%;
    margin: 5px;
}

#delete:hover {
    background: #35339a;
    cursor: pointer;
}

@media (max-width: 768px) {
    body{
        padding: 2rem 0;
    }
    
    .task-box {
        width: 300px;
        padding: 2rem;
    }
}