/*---css document*/

html {
  scroll-behavior: smooth;
}

body {
  background-image: url(./images/yellow_background.png);
  display:flex; 
  flex-direction:column; 
}
/*header*/
.flex-container {
  display: flex;
  position: relative;
}

#logo {
  position: relative;
}

.top-left {
  position: absolute;
  bottom: 35px;
  left: 60px;
  color: green;
  font-family: Brush Script MT, Brush Script Std, cursive;
  font-size: xx-large;
  font-weight: bold;
}

.flex {
  display: flex;
}

#ntext {
  display: inline-block;
  list-style-type: none;
  margin-left: 30px;
  font-size: x-large;
}

.navb {
  text-decoration: none;
  color: black
}

.navb:hover{
  text-decoration: underline;
}

.line1 {
  width: 1870px;
  height: 5px;
}

.container {
  display: flex;
  margin: 0%;
  position: relative;
}

.bridgeimg {
  width: 1880px;
  height: 200px;
  
}

.textbox {
  position: absolute;
  bottom: 0px;
  left: 1px;
  background: rgba(0, 0, 0, 0.5); 
  color: white;
  padding-left: 20px;
  padding-right: 1542px;
}

.btn {
  position: absolute;
  top: 89%;
  left: 93%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: rgb(105, 29, 29);
  color: white;
  font-size: 16px;
  padding: 8px 24px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  z-index: 2;
}

.container .btn:hover {
  background-color: rgb(128, 27, 27);
}

.arrow {
  display: block;
  left: 95.3%;
  position: absolute;
  top: 86%;
  z-index: 3;
}
/*body*/
.container-4 {
  display: flex;

}

.pin {
  width: 45px;
  height: 45px;
}


.container-5 {
  display: flex;
  position: relative;
}

.abox {
  background-color: rgb(100, 99, 99);
  width: 800px;
  height: 350px;
  border-radius: 1%;
  position: absolute;
  left: 500px;
  color: white;
}

#author {
  font-family: garamond, serif;
  position: absolute;
  left: 10px;
  font-weight: lighter;
}

.shrek {
  position: absolute;
  left: 300px;
  top: 55px;
}

#about1 {
  position: absolute;
  top: 200px;
  left: 10px;

}

#about2 {
  position: absolute;
  top: 250px;
  left: 10px;
}

#social1 {
  position: absolute;
  top: 300px;
  left: 10px;
}

#social2 {
  position: absolute;
  top: 300px;
  left: 60px;
}

#social3 {
  position: absolute;
  top: 300px;
  left: 110px;
}

#social4 {
  position: absolute;
  top: 300px;
  left: 160px;
}

#social5 {
  position: absolute;
  top: 300px;
  left: 210px;
}

#garrow {
  position: absolute;
  left: 490px;
  top: 100px;
}
/*footer*/
.footer {
  position: relative;
  display: flex;
   left: 0;
   top: 400px;
   bottom: 0px;
   width: 100%;
   height: 150px;
   background-color: wheat;
   color: rgb(5, 5, 5);
}

.line2 {
  width: 1870px;
  height: 4px;
  z-index: 1;
}

.toparrow {
  position: absolute;
  z-index: 1;
  height: 30px;
  left: 935px;
}

.container-6 {
  position: absolute;
  top: 15px;
}

#tweet {
  font-weight: lighter;
  font-family: garamond, serif;
}

.cities {
  position: absolute;
  left: 750px;
  top: 15px;
}

.pics {
  font-weight: lighter;
  font-family: garamond, serif;
}

.pics1 {
  border: 2px solid #555;
}

.friends2 {
  font-weight: lighter;
  font-family: garamond, serif;
}

.friends {
  position: absolute;
  left: 1300px;
  top: 15px;
  list-style-image: url(./images/external_link.png);
  
}

.list {
  color: red;
}

.list2 {
  position: absolute;
  left: 1450px;
  top: 55px;
  list-style-image: url(./images/external_link.png);
  color: red;
}


